/* General styling */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f0e68c;
  }
  
  .participants,
  .golfers {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 20px;
  }
  
  .participant,
  .golfer {
    box-sizing: border-box;
    padding: 20px;
    margin: 10px;
    text-align: center;
    background-color: #ffffff;
    border-radius: 5px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
  }
  
  /* Participant styling */
  .participant {
    background-color: #228b22;
    color: #ffffff;
    width: calc(33.333% - 20px);
    position: relative;
    border-radius: 10px;
  }
  
  .participant.active {
    background-color: #32cd32;
    border: 2px solid #f0e68c;
    transform: scale(1.05);
  }
  
  .participant.active::before {
    content: "";
    position: absolute;
    top: -5px;
    left: 50%;
    transform: translateX(-50%);
    width: 0;
    height: 0;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-bottom: 10px solid #4caf50;
  }
  
  /* Golfer button styling */
  .golfer {
    background-color: #228b22;
    color: #ffffff;
    border: none;
    padding: 10px;
    margin: 5px;
    cursor: pointer;
    border-radius: 5px;
    width: calc(25% - 20px);
  }
  
  .golfer.disabled {
    background-color: #808080;
    cursor: not-allowed;
  }
  
  .golfer:not(.disabled):hover {
    background-color: #32cd32;
    transform: scale(1.1);
  }
  
  .golfer.disabled:hover {
    transform: scale(1);
  }
  
  /* Media queries for responsive design */
  @media (max-width: 768px) {
    .participant {
      width: calc(50% - 20px);
    }
  
    .golfer {
      width: calc(50% - 20px);
    }
  }
  
  @media (max-width: 480px) {
    .participant,
    .golfer {
      width: calc(100% - 20px);
    }
  }
  